{% extends 'main/base.html' %}

{% load bootstrap4 %}
{% load task_length %}
{% block title %} Main board {% endblock %}


{% block content %}

<div class="container">
    <h2>{{ object.name }}</h2>
    {% if request.user.pk == object.author.pk %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Обновить' %}{% endbuttons %}
        </form>

    <a class="right" href="{% url 'main:delete' pk=object.pk %}">
    Удалить задачу
    </a>
    </div>

    {% else %}
    <p>{{ object.author }}</p>
    <p>{{ objects.description }}</p>
    <p>{{ objects.created_at }}</p>
    <p>{{ objects.t_duration }}</p>

    {% endif %}



{% endblock %}