

.undone{
    border: 1px solid red;
    background-color: red;
}

.done {
    border: 1px solid green;
    color: red;
}

.in_progress{
    border: 1px solid purple;
    color: red;
}

.vericaltext {
    writing-mode:tb-rl;
      transform: rotate(180deg);

}

.day {
    background-color:#90EE90;
}

.week {
    background-color:#b19cd9;
}

.long {
    background-color: #ADD8E6;
}

.Table
{
    display: table;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.UserTable
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;
    margin: 30px;
}

.Row
{
    display: table-row;
}

.Col
{
    display: table-column;

}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.DivTableBody
{
	display: table-row-group;
}

.mytable {
  display: table;
}
.myrow {
  display: table-row;
}
.mycell {
  display: table-cell;
}
.Column {
  display: table-column;
}
.column2 {
  display: table-column;
}